---
const { titulo } = Astro.props;
import productosData from '../data/productos.json';
const productos = productosData.destacados;
---
<section class="py-12 bg-gray-50">
    <h2 class="text-3xl font-bold uppercase text-gray-900 mb-8 text-center">{titulo}</h2>
    <div class=" px-10 gap-6 pb-8 flex ">
        {productos.slice(0, 4).map((destacados) => (
                <div class="w-full border-5  border-gray-200">
                    <a href="" class="flex-col h-full bg-white">
                        <div class="h-75 w-full bg-gray-50 flex items-center justify-center p-4">
                            <img
                                    src={destacados.imagen_url}
                                    alt={destacados.nombre}
                                    class="h-full w-full object-contain"
                            />
                        </div>
                        <div class=" bg-white-200 p-4">
                        <span class="text-xs font-bold text-blue-600 uppercase">
                            {destacados.categoria}
                        </span>
                            <h3 class="mt-2 text-lg font-bold text-gray-900">
                                {destacados.nombre}
                            </h3>
                            <p class="mt-4 text-xl font-extrabold text-gray-900">
                                {"$"+destacados.precio}
                            </p>
                        </div>
                    </a>
                </div>
        ))}
    </div>
</section>