---
import { fetchFromAPI } from "../lib/conections";

interface Link {
    label: string;
    url: string;
}

interface Columna {
    titulo: string;
    links: Link[];
}

interface Logo {
    url: string;
}

interface FooterData {
    marca: string;
    eslogan: string;
    logo: Logo;
    columnas: Columna[];
}

const footerData: FooterData = await fetchFromAPI('footer') || {};
const { marca, eslogan, logo, columnas } = footerData;
---
<footer class="bg-black text-white py-10">
    <div class="container mx-auto z-50">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-4">
            {/* 1. LOGO Y MARCA */}
            <div>
                        <img
                                src={logo.url}
                                alt="Logo"
                                class="w-32 py-2 opacity-65 object-contain"
                        />
                <h2 class="text-2xl font-bold">{marca}</h2>
                <p class="mt-2 text-sm text-gray-300">{eslogan}</p>
            </div>


            {columnas?.map((col) => (
                    <div>
                        <h2 class="font-bold mb-3 text-2xl">
                            {col.titulo}
                        </h2>

                        <ul class="space-y-2">
                            {col.links?.map((item) => (
                                    <li class="hover:underline hover:text-gray-300 cursor-pointer">
                                        <a href={item.url}>{item.label}</a>
                                    </li>
                            ))}
                        </ul>
                    </div>
            ))}

        </div>
    </div>
</footer>