---
import {fetchFromAPI} from "../lib/conections";

interface Link {
    id: number;
    label: string;
    url: string;
}

interface Columna {
    id: number;
    titulo: string;
    links: Link[];
}

const footer = await fetchFromAPI("footer?populate[columnas][populate]=*#");
const logo = await fetchFromAPI("logo");

const { marca, eslogan, columnas } = footer;

---
<footer class="relative bottom-0 w-full bg-black text-white py-10">
    <div class="container mx-auto z-50">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-4">
            <div>
                        <img
                                src={logo.imagen.url}
                                alt="Logo"
                                class="w-32 py-2 opacity-65 object-contain"
                        />
                <h2 class="text-2xl font-bold">{marca}</h2>
                <p class="mt-2 text-sm text-gray-300">{eslogan}</p>
            </div>
            {columnas?.map((col: Columna) => (
                    <div>
                        <h2 class="font-bold mb-3 text-2xl">
                            {col.titulo}
                        </h2>
                        <ul class="space-y-2">
                            {col.links?.map((item: Link) => (
                                    <li class="hover:underline hover:text-gray-300 cursor-pointer">
                                        <a href={item.url}>{item.label}</a>
                                    </li>
                            ))}
                        </ul>
                    </div>
            ))}
        </div>
    </div>
</footer>