---
import {fetchFromAPI} from '../lib/conections';

interface Props {
    titulo: string;
    cantidad?: number;
}
const { titulo, cantidad } = Astro.props;

const todosLosProductos: any[] = await fetchFromAPI('productos') || [];
const hardwareFiltrado = todosLosProductos.filter((item: any) => item.categoria === 'telefonos');

const productos = hardwareFiltrado.slice(0, cantidad);
---

<section class="w-full py-12">
    <h2 class="text-3xl font-bold uppercase text-black mb-8 text-center">
        {titulo}
    </h2>
    <div class="max-w-7xl w-full gap-6 mx-auto grid grid-cols-1 px-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 ">
        {productos.map((item: any) => (
            /* CARD: Solo tiene un borde simple 'border' para delimitar el área */
                <article class=" rounded-2xl border-4 border-gray-300 h-full flex flex-col">
                    <a href={`/producto/${item.slug}`} class="flex flex-col h-full">

                        <div class="p-2">
                            <img
                                    src={item.image?.url || '/placeholder.png'}
                                    alt={item.nombre}
                                    class="w-full h-auto"
                            />
                        </div>

                        <div class="p-2 mt-auto">
                            <h3>
                                {item.nombre}
                            </h3>
                            <p>
                                $ {Number(item.precio).toLocaleString('es-CL')}
                            </p>
                        </div>
                    </a>
                </article>
        ))}
    </div>
</section>